<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Administración de Permisos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/lib/SimpleGrid/simplegrid.css">
    <link rel="stylesheet" href="css/permisos.min.css">

    <script type="text/javascript" src="/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/lib/moment-with-locales.js"></script>
    <script type="text/javascript" src="/lib/util-directives/util-directives.js"></script>

    <script type="text/javascript" src="js/permisos.app.js"></script>
    <script type="text/javascript" src="js/permisos.controller.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.rotate').css('height', $('.rotate').width());
      });
    </script>
  </head>
  <body ng-app="permisos" ng-controller="permisosController as ctrl" >
    <div class="master-container">
      <div class="usuarios-cont">
        <div style="width: 370px;">
         <md-input-container class="md-block">
           <label>Buscar por usuario...</label>
           <!-- <input ng-model="user.title"> -->
           <input type="text" ng-model="filtroUsuarios" ng-model-options="{'debounce': 500}">
         </md-input-container>
       </div>

        <i class="fa fa-caret-left flecha" aria-hidden="true" id="desplazador_usuarios_izquierda" ng-click="desplazar2(0)" ></i>
        <i class="fa fa-caret-right flecha" aria-hidden="true" id="desplazador_usuarios_derecha"  ng-click="desplazar2(1)"></i>
        <div id="usuarios-tag"> Usuario </div>
        <div id="totalp-tag"> Total Permisos </div>
        <div id="usuarios-scroll">
          <div id="usuarios-cont-movible" style="width:1000px">
            <div id="h-grupo" >
              <span style="width: calc(10 * 28px)">NOC</span>
              <span style="width: calc(5 * 28px)">Pacs Admin</span>
            </div>
            <div id="h-subgrupo">
              <span style="width: calc(5 * 28px)">Admin</span>
              <span style="width: calc(2 * 28px)">Imagen</span>
              <span style="width: calc(4 * 28px)">Redes</span>
              <span style="width: calc(3 * 28px)">MICH</span>
            </div>
            <table class="tabla-fixed-users">
              <tbody>
                <tr ng-repeat="u in usuariosFiltrados.users_data |  limitTo:limiteSuperior:limiteInferior">
                  <td><div>{{u.total_permisos}}</div></td><td id="user{{u.user_id}}">{{u.nombre}} {{u.nombre_sec | nombreSec}} {{u.apaterno}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="permisos-full-fix">
        <div class="c1">Grupo</div>
        <div class="c2">Página</div>
        <div class="c3">Item</div>
        <div class="c4">Descripción</div>
        <div class="c5"></div>
        <div class="c6">Total<br>Usuarios</div>
      </div>
      <div class="permisos-full-scroll">
        <div class="permisos-cont">
          <div id="permisos_labels">
            <table class="tabla-fixed-labels">
              <tbody ng-repeat="p in permisos.grupos">
                <tr>
                  <td class="rotate" style="background: {{colorsGoups[$index]}}"><div>{{p.grupo}}</div></td>
                  <td class="npad">
                    <table class="tabla-fixed-labels">
                      <tbody ng-repeat="pag in p.paginas">
                    		<tr>
                    		  <td rowspan="{{pag.permisos.length + 1}}">{{pag.pagina}}</td>
                    		</tr>
                        <tr ng-repeat="perm in pag.permisos">
                          <!-- <td title="{{perm.permiso_id}} - {{perm.permiso_detalles}}" id="permiso{{perm.permiso_id}}"><div>{{perm.permiso_detalles | limitTo: 15}}</div><i class="fa fa-info-circle" aria-hidden="true"></i></td> -->
                          <td title="{{perm.permiso_id}} - {{perm.permiso_detalles}}" id="permiso{{perm.permiso_id}}"><div>{{perm.permiso_detalles | limitTo: 30}}</div></td>
                        </tr>
                    	</tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="asignacion-permisos">
          <div id="permisos_asignados">
            <table class="tabla-fixed-access">
              <tbody>
                <tr ng-repeat="i in permisos.ids track by $index">
                  <td
                  ng-class="{'has': tieneAcceso(u, i)}"
                  ng-repeat="u in usuariosFiltrados.ids  | limitTo:limiteSuperior:limiteInferior"
                  ng-click="toggleAccess(u,i)"
                  id="p{{i}}u{{u}}"
                  title="p{{i}}u{{u}}"
                  data-uid="{{u}}"
                  data-pid="{{i}}"
                  class="indicador-acceso"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="totals-cont">
          <div id="permisos_total">
            <table class="tabla-fixed-totals">
              <tbody>
                <tr id="total_P{{t}}" ng-repeat="t in permisos.ids"><td>{{accesosGlobal[t].length}}</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
